.header {
  position: sticky;
  z-index: 1;
  top : 0;
  left : 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.05);

}
.header__logo {
  height: 60px;
  line-height: 60px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
}
.header__toggle{ 
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #9051ff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__toggle::before, 
.header__toggle::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transition: .4s cubic-bezier(.445, .05, .55, .95); 
}
.header__toggle::before {
  transform: translateY(-5px);
}
.header__toggle::after {
  transform: translateY(5px);
}
.header__toggle--active::before,
.header__toggle--active::after {
  transform: translateY(0);
}
.header__toggle--active::before {
  transform: rotate(45deg);
}
.header__toggle--active::after {
  transform: rotate(-45deg);
}
.header__toggle--active {
  background: #ff516e;
}
.header__navbar {
  position: relative;
  height: 60px;
  right: 60px;
  width: 0;
  overflow: hidden;
  background: #fff;
  transition: .4s cubic-bezier(.445, .05, .55, .95);
}
.header__navbar.header__navbar--active {
  width: 60%;
}
.header__items {
  position: relative;
  display: flex;  
}
.header__items li {
  list-style: none;
}
.header__item {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: #12334e;
  font-size: 1rem;
  padding: 0 1rem;
  transition: .4s cubic-bezier(.445, .05, .55, .95);
}
.header__item:hover {
  color: #fff;
  background: #9051ff;
}

/* responsive */

@media (max-width: 900px) {
  .header__navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    transition: .4s cubic-bezier(.445, .05, .55, .95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
  }
  .header__navbar.header__navbar--active {
    height: calc(100vh - 60px);
    width: 100%;
  }
  .header__items {
    flex-direction: column;
    align-items: center;
  }
  .header__items li {
    margin: .2rem 0;
    text-align: center;
  }
  .header__item {
    width: 50vw;
  }
}